.select {
  color: var(--black-2);
  border: none;
  width: 150px;
  cursor: pointer;
  height: auto;
	border-radius: 6px;
	font-weight: 500;
	font-size: 1.6rem;
	text-decoration: none;
	text-transform: capitalize;
}
